/* Fondo temporal */
body {

    /* Configuración de estilo de página a modo de prueba */

    background-image: url(../images/tmp_fondo.png);
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    margin: 0;

    height: 300vh
}

/* *Botón interactivo flotante* */

.chat-trigger {

    /* *POSICION* */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Para que el botón este por encima de los demas elementos*/ 
    
    /* *TAMAÑO* */
    width: 70px;
    height: 70px;

    /* *DISEÑO* */
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #8bbed1;
    box-shadow: 0px 4px 10px #477d90;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: bottom right;
}

.chat-trigger.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transform-origin: bottom right;
}

/* Al pasar el mouse por encima */
.chat-trigger:hover{

    /* *ANIMACIÓN* */
    transform: scale(1.1);
}

/* *Ventana* */

.help-window-1.is-active {

    /* *ESTADO DE ACTIVACIÓN DE LA VENTANA* */
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);

}

.help-window-1 {

    /* *POSICIÓN* */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    /* *TAMAÑO* */
    width: 320px;
    height: 400px;

    /* *ESTILOS* */
    background-color: #66a1b3;
    border-radius: 12px;
    box-shadow: 0px 5px 20px #477d90;

    /* *CONTENIDO* */
    overflow: hidden;

    /* *ESTADO BASE DE LA VENTANA* (invisible por defecto)*/
    opacity: 0;
    pointer-events: none;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;

    /* *ANIMACIÓN* */
    transform-origin: bottom right;
}

/* *Cuerpo contenedor* */

.chat-body {
    height: 100%;
    overflow-y: hidden;
    background-color: rgb(0, 255, 255);
}

.chat-option-btn {
    width: 90%;
    padding: 20px 15px;
    border-radius: 8px;
    margin: 0px 0px ;
    display: flex;
    box-sizing: border-box;
    background-color: rgb(36, 52, 198);
    color: #d9c0c0;
    border: none;
    cursor: pointer;
}

/* .chat-window{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
} */

.chat-window {
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    overflow: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(255, 255, 57);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: auto;
}

.chat-window.is-hidden{
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    position: absolute;
    width: 100%;
}

/* *Cabezal* */

.chat-header{
    display: flex;
    align-items: center;
    padding: 0px 15px;
    background-color: #586;
    position: relative;
    justify-content:space-between;
}

.chat-title{
    margin: 0 auto;
    font-size: 1.2rem;
    color: #654;
    text-align: center;
    white-space: nowrap;
}

.chat-header-actions{
    flex: 1;
    display: flex;
}

.chat-header-actions {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    background-color: steelblue;

    position: absolute;
    top: 5px;
    right: 5px;
}
